@font-face {
  font-family: "iconfont"; /* Project id 3331555 */
  src: url('iconfont.woff2?t=1650165692468') format('woff2'),
       url('iconfont.woff?t=1650165692468') format('woff'),
       url('iconfont.ttf?t=1650165692468') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-jiantou_xiangshang:before {
  content: "\eb0a";
}

.icon-Copy:before {
  content: "\e657";
}

.icon-xuanzeqizhankai:before {
  content: "\eb15";
}

.icon-zhediejiantou_Blackbeifen2x:before {
  content: "\e604";
}

